# Lab | Inferential statistics - T-test & P-value
Instructions
We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [13]:
from scipy.stats import t
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns 
import math
from scipy.stats import ttest_ind

New machine	    Old machine
42.1	        42.7
41	            43.6
41.3	        43.8
41.8	        43.3
42.4	        42.5
42.8	        43.5
43.2	        43.1
42.3	        41.7
41.8	        44
42.7	        44.1

In [19]:
#import codecs
#f = codecs.open(“machine.txt”, “r”, “utf-16”)

#df=pd.read_csv(f, sep = “\t”)

In [14]:
new_machine=[42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]
old_machine=[42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]

In [20]:
machine_df=pd.DataFrame(new_machine)
machine_df2=pd.DataFrame(old_machine)

In [25]:
machine=pd.concat([machine_df, machine_df2], axis=1)

In [26]:
machine

      0     0
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [27]:
machine.columns=[['new_m','old_m']]

In [28]:
machine

  new_m old_m
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [39]:
sample_mean1= np.mean(new_m)
sample_mean2= np.mean(old_m)
sample_std1=np.std(new_m)
sample_std2=np.std(old_m)
n1 = 10
n2= 10

Ho= new_mean=old_mean
Ha= new_mean<old_mean

In [40]:
pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n+n-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n)+(1/n)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.5809955894645813

In [42]:
print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2)) #alpha is 0.05

P value is:  0.9989322065983063
Critical Value of z is:  -2.10092204024096